[include wm_zru_thr0.cfg]


[tmc2209 extruder]
uart_pin:T0:PB3
run_current: 0.6
# hold_current: 0.5
interpolate: True
stealthchop_threshold: 0

[verify_heater extruder]
max_error: 200
check_gain_time:30
hysteresis: 10
heating_gain: 2

[heater_fan hotend0_fan]
pin: T0:PB6
heater: extruder
heater_temp: 70.0

[filament_switch_sensor filament0]
pause_on_runout: False                    # 必须改为 False
switch_pin: T0:PC13
event_delay: 0.5
runout_gcode:
    RESPOND MSG="Filament runout detected, pausing in 2.5 seconds..."
    UPDATE_DELAYED_GCODE ID=delayed_pause0 DURATION=2.5

insert_gcode:
    {% set printer_state = printer.print_stats.state %}
    {% set bed_leveling = printer["gcode_macro G29"].bed_leveling|default(False) %}
    {% set idle_state = printer.idle_timeout.state %}
    {% if printer_state != "printing" and not (bed_leveling and idle_state == "Printing") %} 
        { action_respond_info("Push filament until resistance is felt after blue light turns on (Load operation required before printing)!") }
        UPDATE_DELAYED_GCODE ID=delayed_pause0 DURATION=0    # 取消延迟暂停，防止插入后误暂停
        ACTIVATE_EXTRUDER EXTRUDER=extruder
        SAVE_VARIABLE VARIABLE=if_check_extruder_status value=0
        filament_insert
        SAVE_VARIABLE VARIABLE=if_check_extruder_status value=1
        M104 S220 T0
        T0
        M109 S220 T0
        filament_insert_gcode T=0
        M104 S0 T0
        PARK_CURRENT_TOOL
    {% endif %}

[delayed_gcode delayed_pause0]
gcode:
    RESPOND MSG="2.5 seconds completed, pausing now"
    PAUSE

[filament_switch_sensor docked0]
pause_on_runout: False
runout_gcode: 
insert_gcode: 
switch_pin: T0:PB12

[neopixel T0_RGB]
pin: T0:PB9


