[tools_calibrate]
pin: probe_air:z_virtual_endstop 
travel_speed: 20  # mms to travel sideways for XY probing
spread: 6  # mms to travel down from top for XY probing
lower_z: 0.1  # The speed (in mm/sec) to move tools down onto the probe
lift_z: 3
speed: 2  # The speed (in mm/sec) to retract between probes
lift_speed: 5  # Z Lift after probing done, should be greater than any Z variance between tools
final_lift_z: 6 
sample_retract_dist: 0.75
samples_tolerance: 0.5
samples_tolerance_retries: 3
samples: 3
samples_result: median # median, average
# Settings for nozzle probe calibration - optional.
probe: probe_air # name of the nozzle probe to use
trigger_to_bottom_z: 0.25 # Offset from probe trigger to vertical motion bottoms out. 
# decrease if the nozzle is too high, increase if too low.
probe_position: 299.0, 290.0, 8.5 , 6.9, 5.8  #x, y, z, x_offset, y_offset
offset_tolerance: 2
offset_tolerance_retries: 2


[gcode_macro RESPOND_T_OFFSET]
gcode:
    {% set offset_x, offset_y, offset_z = printer.save_variables.variables.t0_offset %}
    { action_respond_info("T0 OFFSET X:%f Y:%f Z:%f" % (offset_x, offset_y, offset_z)) }
    {% set offset_x, offset_y, offset_z = printer.save_variables.variables.t1_offset %}
    { action_respond_info("T1 OFFSET X:%f Y:%f Z:%f" % (offset_x, offset_y, offset_z)) }
    {% set offset_x, offset_y, offset_z = printer.save_variables.variables.t2_offset %}
    { action_respond_info("T2 OFFSET X:%f Y:%f Z:%f" % (offset_x, offset_y, offset_z)) }
    {% set offset_x, offset_y, offset_z = printer.save_variables.variables.t3_offset %}
    { action_respond_info("T3 OFFSET X:%f Y:%f Z:%f" % (offset_x, offset_y, offset_z)) }

[gcode_macro SAVE_T_OFFSET]
gcode:
    {% set t = params.T|default(99)|int %}
    {% set offset_x = params.X|default(99)|float|round(6) %}
    {% set offset_y = params.Y|default(99)|float|round(6) %}
    {% set offset_z = params.Z|default(99)|float|round(6) %}
    {% set mode = params.MODE|default("abs")|string %}

    {% if t == 0 %}
        {% set origin_x, origin_y, origin_z = printer.save_variables.variables.t0_offset %}
    {% elif t ==1 %}
        {% set origin_x, origin_y, origin_z = printer.save_variables.variables.t1_offset %}
    {% elif t ==2 %}
        {% set origin_x, origin_y, origin_z = printer.save_variables.variables.t2_offset %}
    {% elif t ==3 %}
        {% set origin_x, origin_y, origin_z = printer.save_variables.variables.t3_offset %}
    {% endif %}

    {% if offset_x == 99 %}
        {% set offset_x = origin_x %}
    {% elif mode == "rel" %}
        {% set offset_x = origin_x + offset_x %}
    {% endif %}

    {% if offset_y == 99 %}
        {% set offset_y = origin_y %}
    {% elif mode == "rel" %}
        {% set offset_y = origin_y + offset_y %}
    {% endif %}

    {% if offset_z == 99 %}
        {% set offset_z = origin_z %}
    {% elif mode == "rel" %}
        {% set offset_z = origin_z + offset_z %}
    {% endif %}

    {% if t != 99 %}
        SAVE_VARIABLE VARIABLE=t{t}_offset VALUE={offset_x},{offset_y},{offset_z}
        { action_respond_info("SAVE T%d OFFSET X:%f Y:%f Z:%f" % (t, offset_x, offset_y, offset_z)) }
    {% endif %}

[gcode_macro RESPOND_T_POSITION]
gcode:
    {% set position_x, position_y = printer.save_variables.variables.t0_position %}
    { action_respond_info("T0 POSITON X:%f Y:%f" % (position_x, position_y)) }
    {% set position_x, position_y = printer.save_variables.variables.t1_position %}
    { action_respond_info("T1 POSITON X:%f Y:%f" % (position_x, position_y)) }
    {% set position_x, position_y = printer.save_variables.variables.t2_position %}
    { action_respond_info("T2 POSITON X:%f Y:%f" % (position_x, position_y)) }
    {% set position_x, position_y = printer.save_variables.variables.t3_position %}
    { action_respond_info("T3 POSITON X:%f Y:%f" % (position_x, position_y)) }

[gcode_macro SAVE_T_POSITON]
gcode:
    {% set t = params.T|default(99)|int %}
    {% set position_x = params.X|default(99)|float|round(6) %}
    {% set position_y = params.Y|default(99)|float|round(6) %}

    {% if t == 0 %}
        {% set origin_x, origin_y = printer.save_variables.variables.t0_position %}
    {% elif t ==1 %}
        {% set origin_x, origin_y = printer.save_variables.variables.t1_position %}
    {% elif t ==2 %}
        {% set origin_x, origin_y = printer.save_variables.variables.t2_position %}
    {% elif t ==3 %}
        {% set origin_x, origin_y = printer.save_variables.variables.t3_position %}
    {% endif %}

    {% if position_x == 99 %}
        {% set position_x = origin_x %}
    {% endif %}

    {% if position_y == 99 %}
        {% set position_y = origin_y %}
    {% endif %}

    {% if t != 99 %}
        SAVE_VARIABLE VARIABLE=t{t}_position VALUE={position_x},{position_y}
        { action_respond_info("SAVE T%d POSITON X:%f Y:%f" % (t, position_x, position_y)) }
    {% endif %}

[gcode_macro _OFFSET_SET]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set tool = svv.current_extruder %}
    {% if tool == 0 %}
        {% set offset_x, offset_y, offset_z = svv.t0_offset %}
    {% elif tool == 1 %}
        {% set offset_x, offset_y, offset_z = svv.t1_offset %}
    {% elif tool == 2 %}
        {% set offset_x, offset_y, offset_z = svv.t2_offset %}
    {% elif tool == 3 %}
        {% set offset_x, offset_y, offset_z = svv.t3_offset %}
    {% endif %}
    { action_respond_info("SET GCODE OFFSET X:%6f Y:%6f Z:%6f" % (offset_x, offset_y, offset_z)) }
    {% if tool != 99 %}
        # { action_respond_info("SET GCODE OFFSET X:%6f Y:%6f Z:%6f" % (offset_x, offset_y, offset_z)) }
        SET_GCODE_OFFSET X={offset_x} Y={offset_y} Z={offset_z} move=1
    {% endif %}

[gcode_macro _OFFSET_RESET]
gcode:
    SET_GCODE_OFFSET X=0 Y=0 Z=0 move=1
    { action_respond_info("OFFSET_RESET") }

[gcode_macro _CALIBRATE_MOVE_OVER_PROBE]
gcode:
    BED_MESH_CLEAR
    G0 Z10 F9600 # UPDATE THIS WITH YOUR POSITION
    # G0 X147.85 Y229.31 F10000  # UPDATE THIS WITH YOUR POSITION
    # G0 X299  F10000  # UPDATE THIS WITH YOUR POSITION
    # G0 Y290  F10000  # UPDATE THIS WITH YOUR POSITION
    # # probe samples=2
    # G0 Z6.5 F2000 # UPDATE THIS WITH YOUR POSITION
    

[gcode_macro TEST_W4]
gcode:
    G28
    G1 Z25
    # CS_WEIGHT_SWITCH CHIP=2
    probe samples=1

[gcode_macro _APPLY_PRE_Z_OFFSET]
variable_last_z_result: 0
gcode:
    {% set tool = params.T|default(99)|int %}
    {% set probe_z = printer.probe.last_z_result %}
    {% if tool == 0 %}
        TOOL_CALIBRATE_Z_OFFSET Z_OFFSET=0
        SET_GCODE_VARIABLE MACRO=_APPLY_PRE_Z_OFFSET VARIABLE=last_z_result VALUE={probe_z}
        # { action_respond_info("SAVE_LAST_PROBE_RESULT %.6f" % (probe_z)) }
    {% elif tool ==99 %}
    {% else %}
        TOOL_CALIBRATE_Z_OFFSET Z_OFFSET={probe_z - last_z_result}
    #     SET_GCODE_OFFSET Z={last_z_result - probe_z}
    #     { action_respond_info("SET_PRE_Z_OFFSET %.6f" % (last_z_result - probe_z)) }
    {% endif %}

# 对刀前准备动作
[gcode_macro NOZZLE_PREPARE]
gcode:
    {% set T = params.T|default(99)|int %}

    T{T}                    ; 切换到工具头 T{T}
    {% if T < 1 %}
        M104 S140 T0          ; 加热工具头 T0 到 140°C
        G28 Z
    {% endif %}  
    ; 所有工具头都先加热到 140°C 并执行平台探测
    # M104 S140 T{T}          ; 加热当前工具头到 140°C
    # G28 Z                   ; 归零 Z 轴
    M400                    ; 等待所有动作完成

    SET_GCODE_OFFSET X=0 Y=0 Z=0
    G1 X150.0 Y1 F5000.0     # G1 X150 Y135 F9600
    PROBE
    _APPLY_PRE_Z_OFFSET  T={T}

    # G1 X150.0 Y1 F5000.0    ; 移动到安全位置（避免探测时碰撞）
    G91                     ; 相对坐标模式
    # QUAD_GANTRY_LEVEL       ; 探测平台（Quad Gantry Level）
    
    ; 继续喷嘴清理流程
    G1 Z1 F2000.0           ; 下降到 Z=1
    G90                     ; 绝对坐标模式  
    G92 E0 
    M109 S220 T{T}          ; 加热到 220°C
    G91
    G1 E120 F500            ; 挤出 120mm 耗材
    G1 E-3 F600             ; 回抽 3mm
    M400
    G90
    M106 S255               ; 风扇全开
    M109 S100 T{T}          ; 降温到 100°C（防止渗出）
    G1 Z80 F5000.0          ; 抬升到安全高度
    M106 S0                 ; 关闭风扇
    # G4 P10000             ; 等待 10 秒（冷却稳定）

[gcode_macro NOZZLE_CALIBRATE_TOOL_OFFSET]
gcode:   
    {% set T = params.T|default(99)|int %} 
    M104 S160 T{T}          ;  升温到160℃擦嘴
    {% set thr_number = printer.save_variables.variables.thr_number|int %}
    {% if T < thr_number-1 %}
        {% set next_T = T + 1 %}
        M118 预热下一个工具头 T{next_T}
        M104 S160 T{next_T}  ; 加热下一个工具头
    {% endif %}
    G1 Z10 F600
    G0 Y240 F12000
    G0 X-13 F12000
    M109 S160 T{T}          ; 升温到160℃擦嘴
    {% for I in range(1, 5) %}  #擦嘴
        G0 Y240 F3000
        G0 Y275 F3000
        G0 Y240 F3000
    {% endfor %}
    M104 S0 T{T}


[gcode_macro RAPID_MODE]
gcode:
    {% set T = params.T|default(99)|int %}
    {% if "z" not in printer.toolhead.homed_axes %}
        G28 Z
    {% endif %}
    G1 Z10 F600
    M104 S0 T{T} 
    {% if T == 0 %}
        CALIBRATE_TOOL_OFFSET   T={T}
        CALIBRATE_TOOL_Z_OFFSET T={T}
    {% else %}
        CALIBRATE_TOOL_OFFSET   T={T}
        SAVE_TOOL_OFFSET        T={T}
        CALIBRATE_TOOL_Z_OFFSET T={T}
        SAVE_TOOL_OFFSET        T={T}
    {% endif %}

[gcode_macro CALIBRATE_TOOL_OFFSET]
gcode:
    {% set tool = params.T|default(99)|int %}
    # {% set svv = printer.save_variables.variables %}
    # {% set tool_count = svv.active_tools %}
    {% set sensor_x, sensor_y, sensor_z, sensor_w, sensor_h= printer.save_variables.variables.probe_position %}

    {% if tool == 0 %}
        { action_respond_info("T0 LOCATE SENSOR") }
        T0
    {% else %}
        { action_respond_info("T%d OFFSET" % (tool)) }
        T{tool}
    {% endif %}
    # _OFFSET_RESET
    BED_MESH_CLEAR
    SET_GCODE_OFFSET X=0 Y=0 Z=0 #MOVE=1 #[Z=<pos>|Z_ADJUST=<adjust>] [MOVE=1 [MOVE_SPEED=<speed>]]
    G1 X150 Y135 F9600
    probe
    G0 Z15 F300 # UPDATE THIS WITH YOUR POSITION
    _APPLY_PRE_Z_OFFSET T={tool}
    # CS_WEIGHT_SWITCH CHIP=5
    G0 X{sensor_x} F9600 # UPDATE THIS WITH YOUR POSITION
    G0 Y{sensor_y} F9600 # UPDATE THIS WITH YOUR POSITION
    {% if tool == 0 %}
        TOOL_LOCATE_SENSOR
    {% else %}
        TOOL_CALIBRATE_TOOL_OFFSET
    {% endif %}
    G0 Y250  F9600  # UPDATE THIS WITH YOUR POSITION

[gcode_macro CALIBRATE_OFFSET_ALL_RAPID_MODE]
gcode:
    G28
    BED_MESH_CLEAR
    {% set thr_number = printer.save_variables.variables.thr_number|int %}
    {% for T in range(0, thr_number) %}
        RAPID_MODE   T={T}
    {% endfor %}

[gcode_macro CALIBRATE_OFFSET_ALL_FINE_MODE]
gcode:
    {% set thr_number = printer.save_variables.variables.thr_number|int %}
    {% for T in range(0, thr_number) %}
        NOZZLE_PREPARE S=220 T={T}
        NOZZLE_CALIBRATE_TOOL_OFFSET T={T}
        RAPID_MODE   T={T}
    {% endfor %}

[gcode_macro CALIBRATE_TOOL_Z_OFFSET]
gcode:
    {% set tool = params.T|default(99)|int %}
    {% set current_tool = printer.save_variables.variables.current_extruder|default(99)|int %}

    T{tool}
    BED_MESH_CLEAR
    _OFFSET_SET
    SET_GCODE_OFFSET Z=0.0 MOVE=1
    G1 X150 Y135 F9600
    # CS_WEIGHT_SWITCH CHIP=1
    probe
    M400
    {% if tool != current_tool %}
        { action_respond_info("warning: CALIBRATE_TOOL_Z_OFFSET specified tool different form saved one, result will not saved") }
    {% else %}
        _SAVE_PROBE_POS T={current_tool}
    {% endif %}
    G1 Z10

[gcode_macro _SAVE_PROBE_POS]
gcode:
    {% set tool = params.T|default(99)|int %}
    {% set z_pos = printer.probe.last_z_result|round(6) %}
    {% if tool == 0 %}
        SET_GCODE_VARIABLE MACRO=SAVE_TOOL_OFFSET VARIABLE=z0_pos VALUE={z_pos}
        SET_GCODE_VARIABLE MACRO=SAVE_TOOL_OFFSET VARIABLE=z_pos VALUE=0
        SET_GCODE_VARIABLE MACRO=SAVE_TOOL_OFFSET VARIABLE=diff VALUE=0
    {% else %}
        SET_GCODE_VARIABLE MACRO=SAVE_TOOL_OFFSET VARIABLE=z_pos VALUE={z_pos}
    {% endif %}

[gcode_macro _SAVE_TOOL_POSITION]
gcode:
    {% set tool = params.T|default(99)|int %}
    {% set position_x, position_y, position_z = printer.tools_calibrate.last_toolhead_position %}
    {% if tool != 99 %}
        {% if position_x == 0 or position_y == 0 %}
            { action_respond_info("RUN GET_T_POSITION FIRST") }
        {% else %}
            # { action_respond_info("TOOL %d POSITION X:%f Y:%f" % (tool, position_x, position_y)) }
            SAVE_T_POSITON T={tool} X={position_x} Y={position_y}
        {% endif %}
    {% else %}
        { action_respond_info("TOOL UNSPECIFIED") }
    {% endif %}

[gcode_macro CALIBRATE_TOOL_POSITION]
gcode:
    {% set tool = params.T|default(99)|int %}
    GET_T_POSITION
    _SAVE_TOOL_POSITION T={tool}
    G28 X Y
    G1 X150 Y200 F9600
    M84

[gcode_macro SAVE_TOOL_OFFSET]
variable_diff: 0
variable_z_pos: 0
variable_z0_pos: 0
gcode:
    {% set tool = params.T|default(99)|int %}
    {% set position_x, position_y, position_z = printer.tools_calibrate.last_result %}
    {% set diff = z_pos - z0_pos %}

    {% if tool != 99 and tool !=0 %}
        SAVE_T_OFFSET T={tool} X={position_x} Y={position_y} Z={diff}
        SET_GCODE_VARIABLE MACRO=SAVE_TOOL_OFFSET VARIABLE=diff VALUE=0
    {% endif %}

[gcode_macro POP]
gcode:
    {% set tool = params.T|default(99)|int %}
    {% set svv = printer.save_variables.variables %}
    {% set c_tool = svv.current_extruder %}
    M104 S0 T{c_tool}
    {% if tool != 99 %} #TODO: add axis judgment
        {% if "xyz" not in printer.toolhead.homed_axes %} #TODO: add axis judgment
            {% if "xy" in printer.toolhead.homed_axes %}
                G28 Z
            {% else %}
                G28
            {% endif %}
        {% endif %}
        T{tool}
        M109 S222 T{tool}
        G1 Y2 Z2
        G1 E88 F420
        M400
        M106 S255
        M109 S102 T{tool}
        M106 S0
        G1 Z25 F666
    {% else %}
        { action_respond_info("TOOL NUM REQUIRED") }
    {% endif %}
