[include wm_zru_hub.cfg]


[filament_switch_sensor path_0]
switch_pin: !HUB:PC13
#   连接到检测开关的引脚。
#   必须提供此参数。
pause_on_runout: True
runout_gcode: _BLOCKAGE_PAUSE
    { action_respond_info("ZRU-M003: Check for jam in Channel 1.") }
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.

[filament_switch_sensor path_1]
switch_pin: !HUB:PB12
#   连接到检测开关的引脚。
#   必须提供此参数。
pause_on_runout: True
runout_gcode: _BLOCKAGE_PAUSE
    { action_respond_info("ZRU-M003: Check for jam in Channel 2.") }
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.

[filament_switch_sensor path_2]
switch_pin: !HUB:PA2
#   连接到检测开关的引脚。
#   必须提供此参数。
pause_on_runout: True
runout_gcode: _BLOCKAGE_PAUSE
    { action_respond_info("ZRU-M003: Check for jam in Channel 3.") }
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.

[filament_switch_sensor path_3]
switch_pin: !HUB:PA3
#   连接到检测开关的引脚。
#   必须提供此参数。
pause_on_runout: True
runout_gcode: _BLOCKAGE_PAUSE
    { action_respond_info("ZRU-M003: Check for jam in Channel 4.") }
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.

