[include wm_zru_load_cell.cfg]


[probe_air]
register_probe: false
sensor_type: c_sensor
sclk_pin: CELL:PB13
dout_pin: CELL:PB14
align_chip: 1
voltage: 4.95 #4.775
delta_v: 0.05 #0.075#0.04
delta_v_o: 0.005 #0.075#0.04
# z_offset:-0.16
probe_accel:5
# speed:3
# samples: 2
# lift_speed:5
# sample_retract_dist:0.75
# samples_result: average
# samples_tolerance: 0.03
# samples_tolerance_retries: 3


[output_pin LEVELING]
pin: PB5 
value: 1
shutdown_value: 1

[output_pin GANTRY]
pin: PB4 
value: 1
shutdown_value: 1

[gcode_macro _GANTRY_TRIGGER]
gcode:
    SET_PIN PIN=GANTRY VALUE=0
    G4 P3500
    SET_PIN PIN=GANTRY VALUE=1

[gcode_macro _LEVELING_TRIGGER]
gcode:
    G4 P222
    SET_PIN PIN=LEVELING VALUE=0
    G4 P22
    SET_PIN PIN=LEVELING VALUE=1
    
[gcode_macro _LEVELING_TRIGGER_S]
gcode:
    G4 P500
    SET_PIN PIN=LEVELING VALUE=0
    G4 P888
    SET_PIN PIN=LEVELING VALUE=1
    G4 P666
