[gcode_macro WIPE_NOZZ]
gcode:
  {% set accel = (printer.toolhead.max_accel)*0.5 %}
  {% set slot_value = printer.save_variables.variables.current_extruder %}
  {% set printer_state = printer.print_stats.state %}
   SET_VELOCITY_LIMIT ACCEL=10000
  {% if printer_state == "printing" or printer_state == "paused" %} 
    {% for I in range(1, 5) %}
    G0 Y240 F3000
    G0 Y275 F3000
    {% endfor %}
    G0 Y200 F12000
    M400
  {% endif %}

[gcode_macro TEST_POWER]
description: 最大功率测试

gcode:
    G28 X Y
    # G4 P10000
    M400 
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=290
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=290
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=290
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=290
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=70
    SET_FAN_SPEED FAN=air_fan SPEED=0
    SET_FAN_SPEED FAN=auxiliary_fan SPEED=0
    SET_PIN PIN=QQQ VALUE=1
    SET_PIN PIN=LEVELING VALUE=1
    SET_PIN PIN=GANTRY VALUE=1
    G1 Y0 F36000
    G1 X300 F36000
    G1 Y270 F36000
    G1 Y0 X5 F36000
    G1 Y270 X300 F36000
    G1 X5 F36000
    G1 X300 Y0 F36000
    G1 X5 Y270 F36000
    G1 X5 Y0 F36000


[gcode_macro TEST_XY]
description: XY轴移动测试
gcode:
  G28
  {% set looptime = printer.save_variables.variables.test_xy_counter %}

  {% for counter in range(looptime, 50000|int) %}
    M118 test xy count {counter}
    G1 Y0 F36000
    G1 X300 F36000
    G1 Y270 F36000
    G1 Y0 X5 F36000
    G1 Y270 X300 F36000
    G1 X5 F36000
    G1 X300 Y0 F36000
    G1 X5 Y270 F36000
    G1 X5 Y0 F36000
    SAVE_VARIABLE VARIABLE=test_xy_counter VALUE={counter}
  {% endfor %}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0

[gcode_macro TEST_WIPE]
description: 换头擦嘴测试
gcode:
  G28 X Y
  {% set looptime = printer.save_variables.variables.test_wipe_counter %}

  {% for counter in range(looptime, 50000|int) %}
    M118 test wipe count {counter}
    T0
    WIPE_NOZZ
    T1
    WIPE_NOZZ
    T2
    WIPE_NOZZ
    T3
    WIPE_NOZZ
    SAVE_VARIABLE VARIABLE=test_wipe_counter VALUE={counter}
  {% endfor %}
  SET_HEATER_TEMPERATURE HEATER=extruder0 TARGET=0
  SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=0
  SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=0
  SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=0

[gcode_macro TEST_NOZZLE]
description: 喷头升降温度测试
gcode:
  G28  {% set looptime = printer.save_variables.variables.test_nozzle_counter %}

  {% for counter in range(looptime, 50000|int) %}
    M118 test nozzle count {counter}
    T0
    SET_HEATER_TEMPERATURE HEATER=extruder0 TARGET=290
    T1
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=290
    T2
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=290
    T3
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=290
    SAVE_VARIABLE VARIABLE=test_nozzle_counter VALUE={counter}
  {% endfor %}
  SET_HEATER_TEMPERATURE HEATER=extruder0 TARGET=0
  SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=0
  SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=0
  SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=0

[gcode_macro TEST_BED]
description: 热床升降温度测试
gcode:
  # G28
  {% set looptime = printer.save_variables.variables.test_bed_counter %}

  {% for counter in range(looptime, 50000|int) %}
  
    M118 test bed count {counter}
  	M190 S100
    G4 P30000
    M190 S35

    SAVE_VARIABLE VARIABLE=test_bed_counter VALUE={counter}
  {% endfor %}
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0

[gcode_macro TEST_BED_LEV]
description: 平台升降测试
gcode:
  {% set looptime = printer.save_variables.variables.test_bed_lev_counter %}

  {% for counter in range(looptime, 50000|int) %}
    M118 test bed lev count {counter}
  	FORCE_MOVE STEPPER=stepper_z DISTANCE=-290 VELOCITY=10 ACCEL=1500
    G4 P3000
    M400
    FORCE_MOVE STEPPER=stepper_z DISTANCE=290 VELOCITY=10 ACCEL=1500
    G4 P3000
    M400
    SAVE_VARIABLE VARIABLE=test_bed_lev_counter VALUE={counter}
  {% endfor %}

[gcode_macro TEST_change_tool]
description: 换头测试
gcode:
  {% set looptime = printer.save_variables.variables.test_change_tool_counter %}

  {% for counter in range(looptime, 50000|int) %}
    M118 test_change_tool_counter count {counter}
    SET_VELOCITY_LIMIT ACCEL=20000
    T0
    G1 Y0 F25000
    G1 X300 F25000
    G1 X0 F25000
    G1 Y240 F25000
    T1
    G1 Y0 F25000
    G1 X300 F25000
    G1 X0 F25000
    G1 Y240 F25000
    T2
    G1 Y0 F25000
    G1 X300 F25000
    G1 X0 F25000
    G1 Y240 F25000
    T3
    G1 Y0 F25000
    G1 X300 F25000
    G1 X0 F25000
    G1 Y240 F25000
    SAVE_VARIABLE VARIABLE=test_change_tool_counter VALUE={counter}
  {% endfor %}

[gcode_macro TEST_PROBE]
description: 探针触发测试
gcode:
  G28
  {% set looptime = printer.save_variables.variables.test_probe_counter %}

  {% for counter in range(looptime, 50000|int) %}
    M118 test probe count {counter}
  	G1 Z300 F3000
    _LEVELING_TRIGGER
    G4 P1000
    PROBE
    SAVE_VARIABLE VARIABLE=test_probe_counter VALUE={counter}
  {% endfor %}




[gcode_macro TEST_FAN]
description: 
gcode:
  {% set looptime = printer.save_variables.variables.test_fan_counter %}
  {% for counter in range(looptime, 80000|int) %}
   M118 test fan count {counter}
   SET_FAN_SPEED FAN=auxiliary_fan SPEED=1.0
   G4 P10000
   SET_FAN_SPEED FAN=auxiliary_fan SPEED=0.0
   G4 P10000

   SAVE_VARIABLE VARIABLE=test_fan_counter VALUE={counter}
  {% endfor %}


  test_fan_counter = 0