[heater_generic chamber]
heater_pin:PA4
max_power:1
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:PA0
control = pid
pid_Kp=63.418 
pid_Ki=1.342 
pid_Kd=749.125
min_temp:-20
max_temp:70
smooth_time:15


[verify_heater chamber]
max_error: 300
check_gain_time:600
hysteresis: 5
heating_gain: 1

[controller_fan chamber_fan1]
pin:PB14
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
heater:chamber
stepper:
idle_timeout:10
fan_speed: 1.0
off_below: 0


[controller_fan chamber_fan2]
pin:PA5
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
heater:chamber
stepper:
idle_timeout:10
fan_speed: 1.0
off_below: 0


[fan_generic air_fan]
pin:PB15
shutdown_speed:0
off_below: 0.15


# [gcode_button Door_button1]
# pin:^!PA7
# press_gcode:
# release_gcode:

# [gcode_button Door_button2]
# pin:^!PB7
# press_gcode:
# release_gcode:
