####################################################################################
# See docs/Config_Reference.md for a description of parameters.
####################################################################################
[include timelapse.cfg]
[include macros.cfg]
[include wm_zru_mcu.cfg]
[include hub.cfg]
[include change_extruder.cfg]
[include extruder0.cfg]
[include extruder1.cfg]
[include extruder2.cfg]
[include extruder3.cfg]
[include load_cell.cfg]
[include offset_calibrate.cfg]
[include change_macros.cfg]
[include fz-wipe-nozzle.cfg]
[include test_macro.cfg]
[include zru-s.cfg]


[probe]               
pin:!PB6
x_offset:0
y_offset:0
# z_offset:0
speed:3.6
lift_speed:3
samples: 2
samples_result: average #median
sample_retract_dist:0.85
samples_tolerance: 0.02 
samples_tolerance_retries: 3
activate_gcode:
    SET_VELOCITY_LIMIT ACCEL=14
    _LEVELING_TRIGGER
deactivate_gcode:
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}


[save_variables] 
filename =/home/t13dp/printer_data/config/saved_variables.cfg


[stepper_x]
step_pin:PC5
dir_pin:PC4
enable_pin:!PB10
microsteps: 32 #64
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:!EX_T:PB3
# endstop_pin:tmc2209_stepper_x:virtual_endstop
position_min: -15.0  
position_endstop:308.0
position_max: 312.0
homing_speed:50
homing_retract_dist: 5.0
homing_retract_speed:40
second_homing_speed:25
# homing_positive_dir:true

[stepper_y]
step_pin:PC14
dir_pin:PC15
enable_pin:!PB9
microsteps: 32 #64
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:PB8
# endstop_pin:tmc2209_stepper_y:virtual_endstop
position_min: -3.0
position_endstop:0
position_max:350
homing_speed:50
homing_retract_dist: 5.0
homing_retract_speed:40
second_homing_speed:25
# homing_positive_dir:false

[stepper_z]
step_pin:PC2
dir_pin:PC3
enable_pin:!PC0
microsteps: 64
rotation_distance:8.0
full_steps_per_rotation: 200
# endstop_pin:probe:z_virtual_endstop 
endstop_pin:PD2
position_endstop:300
position_max: 305
position_min: -5.0
homing_speed: 40
homing_retract_dist:2
second_homing_speed:2
homing_positive_dir:true
step_pulse_duration: 0.00001


[extruder]
step_pin: T0:PB5
dir_pin: !T0:PB4
enable_pin: !T0:PA15
full_steps_per_rotation:200  # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
microsteps: 16
gear_ratio: 50:10
rotation_distance:21.6485  # 21.018 #25.12 #22.0175
nozzle_diameter: 0.400000
filament_diameter: 1.750
heater_pin: T0:PA8
sensor_type: EPCOS 100K B57560G104F
#sensor_type: ATC Semitec 104GT-2
sensor_pin: T0:PA0
pwm_cycle_time:0.1
#control: pid
#pid_Kp: 25.788
#pid_Ki: 7.814
#pid_Kd: 21.275
min_temp: -100.0
max_temp: 320.0
smooth_time: 1.0
min_extrude_temp: 175                 # Minimum extrusion temperature
pressure_advance: 0.032
pressure_advance_smooth_time: 0.02
max_extrude_cross_section:5000
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity:200
max_extrude_only_accel:10000


[extruder1]
step_pin: T1:PB5
dir_pin: !T1:PB4
enable_pin: !T1:PA15
full_steps_per_rotation:200  # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
microsteps: 16
gear_ratio: 50:10
rotation_distance:21.6485  # 21.018 #25.12 #22.0175
nozzle_diameter: 0.400000
filament_diameter: 1.750
heater_pin: T1:PA8
sensor_type: EPCOS 100K B57560G104F
#sensor_type: ATC Semitec 104GT-2
sensor_pin: T1:PA0
pwm_cycle_time:0.1
#control: pid
#pid_Kp: 28.190
#pid_Ki: 11.055
#pid_Kd: 17.971
min_temp: -100.0
max_temp: 320.0
smooth_time: 1.0
min_extrude_temp: 175                 # Minimum extrusion temperature
pressure_advance: 0.032
pressure_advance_smooth_time: 0.02
max_extrude_cross_section:5000
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity:200
max_extrude_only_accel:10000



[extruder2]
step_pin: T2:PB5
dir_pin:!T2:PB4
enable_pin: !T2:PA15
full_steps_per_rotation:200  # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
microsteps: 16
gear_ratio: 50:10
rotation_distance:21.6485  # 21.018#25.12 #22.0175
nozzle_diameter: 0.400000
filament_diameter: 1.750
heater_pin: T2:PA8
sensor_type: EPCOS 100K B57560G104F
#sensor_type: ATC Semitec 104GT-2
sensor_pin: T2:PA0
pwm_cycle_time:0.1
#control: pid
#pid_Kp: 36.265
#pid_Ki: 12.088
#pid_Kd: 27.199
min_temp: -100.0
max_temp: 320.0
smooth_time: 1.0
min_extrude_temp: 175                 # Minimum extrusion temperature
pressure_advance: 0.032
pressure_advance_smooth_time: 0.02
max_extrude_cross_section:5000
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity:200
max_extrude_only_accel:10000


[extruder3]
step_pin:T3:PB5
dir_pin: !T3:PB4
enable_pin: !T3:PA15
full_steps_per_rotation:200  # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
microsteps: 16
gear_ratio: 50:10
rotation_distance:21.7440  # 21.018#25.12 #22.0175
nozzle_diameter: 0.400000
filament_diameter: 1.750
heater_pin: T3:PA8
sensor_type: EPCOS 100K B57560G104F
#sensor_type: ATC Semitec 104GT-2
sensor_pin: T3:PA0
pwm_cycle_time:0.1
#control: pid
#pid_Kp: 25.406
#pid_Ki: 11.291
#pid_Kd: 14.291
min_temp: -100.0
max_temp: 320.0
smooth_time: 1.0
min_extrude_temp: 175                # Minimum extrusion temperature
pressure_advance: 0.032
pressure_advance_smooth_time: 0.02
max_extrude_cross_section:5000
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity:200
max_extrude_only_accel:10000


  

[tmc2209 stepper_x]
uart_pin: PB0
run_current: 1.2
interpolate: True
stealthchop_threshold:0

[tmc2209 stepper_y]
uart_pin: PC13
run_current: 1.2
interpolate: True
stealthchop_threshold:0

[tmc2209 stepper_z]       ##Z1
uart_pin: PC1
run_current: 1.0
interpolate: True
stealthchop_threshold: 999999
driver_SGTHRS: 120
diag_pin: ^PA13

[stall_sensor Z_STALL_SENSOR]
pin: PA13 # TMC Driver DIAG

[heater_bed]              ##HBED
heater_pin: PC9
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA1
max_power: 1
smooth_time: 2
# control :watermark
control: pid
pid_Kp: 71.918
pid_Ki: 0.683
pid_Kd: 1893.231
min_temp: -100
max_temp: 120
pwm_cycle_time:0.1

[verify_heater heater_bed]
max_error: 120
check_gain_time: 120   #120
hysteresis: 10
heating_gain: 2


[fan]
pin:EX_T:PB7
kick_start_time: 0.5
off_below: 0.0
cycle_time: 0.00003
tachometer_pin:^EX_T:PB6


[fan_generic auxiliary_fan]
pin:PC7
tachometer_pin:PC6
tachometer_ppr:2
shutdown_speed:0
tachometer_poll_interval: 0.0001

[controller_fan motherboard_fan]
pin:PA8
max_power:0.5
shutdown_speed: 0
stepper:stepper_x,stepper_y,stepper_z
idle_timeout:60
idle_speed:0    

[gcode_macro z_rise]
gcode:
    {% if "z" in printer.toolhead.homed_axes and printer.toolhead.position.z < 3 and printer.query_endstops.last_query.z==0 %}
        G91 
        G1 Z3 F1200
        G90
    {%  elif "z" not in printer.toolhead.homed_axes and printer.query_endstops.last_query.z==0 %}
        SET_KINEMATIC_POSITION Z=3
        G91 
        G1 Z3 F1200
        G90
    {% endif %}

[homing_override]
axes: xyz
gcode:
    QUERY_ENDSTOPS
    z_rise

    {% set targe_temprature = printer.extruder.target %}

    {% if params.X is defined and params.Y is undefined and params.Z is undefined %} #X
        G28 X 
    {% endif %}

    {% if params.Y is defined and params.X is undefined and params.Z is undefined %} #Y
        G28 Y 
    {% endif %}

    {% if params.X is undefined and params.Y is undefined and params.Z is defined %} #Z
        {% if "xy" not in printer.toolhead.homed_axes %}
            G28 Y
            G28 X
        {% endif %}  
        M400
        Z_HOMING
    {% endif %}

    {% if params.X is defined and params.Y is defined and params.Z is undefined %} #XY
        G28  Y
        G28  X
    {% endif %}

    {% if params.X is undefined and params.Y is undefined and params.Z is undefined %} #XYZ
        G28  Y
        G28  X
        M400
        Z_HOMING
    {% endif %}
    G90

[gcode_macro Z_HOMING]
variable_z_raise: 1
gcode:
    {% set printer_state = printer.print_stats.state %}
        
    BED_MESH_CLEAR
    SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0 MOVE=1

    SET_GCODE_VARIABLE MACRO=_CHANGE_TOOL VARIABLE=save_position VALUE=0
    T0

    {% if printer_state == "printing" or printer_state == "paused" %}
        M118 Nozzle is cleaning
        WIPE_NOZZLE
    {% endif %}
    G1 X150 Y135 F3000
    _LEVELING_TRIGGER_S
    M400
    STEPPER_DIAG_ENABLE CHIP="stepper_z"
    M118 Z-axis is homing
    G28 Z
    {% if z_raise == 1 %}
        G1 Z7 F9600
    {% endif %}
    STEPPER_DIAG_DISABLE CHIP="stepper_z"
    SET_GCODE_VARIABLE MACRO=Z_HOMING VARIABLE=z_raise VALUE=1



[screws_tilt_adjust]
screw1: 6,6
screw1_name: front_right
screw2: 250,6
screw2_name: front_left
screw3: 250,250
screw3_name: behind_left
screw4: 6,250
screw4_name: behind_right
horizontal_move_z: 10
screw_thread: CW-M3



[bed_mesh]
speed: 300                    # Calibration speed
horizontal_move_z:3        # Z-axis movement speed
mesh_min: 10, 10          # Minimum calibration point coordinates x, y
mesh_max: 290, 260         # Maximum calibration point coordinates x, y
probe_count: 7, 7             # Number of sampling points (7X7 is 49 points)
mesh_pps: 3, 3                # Number of supplementary sampling points
algorithm: bicubic           # algorithmic model
bicubic_tension: 0.6         # Algorithmic interpolation don't move



[input_shaper]
        
[respond]
default_type: echo
default_prefix: echo:

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000
max_z_velocity: 30
max_z_accel: 500
square_corner_velocity: 5.0


[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]
recover_velocity: 50.0 

[idle_timeout]
timeout: 600
gcode:
    {% set thr_number = printer.save_variables.variables.thr_number|int %}
    {% for i in range(thr_number) %}
        M104 T{i} S0
    {% endfor %}


[force_move]
enable_force_move : true
    
[display_status]
  
[gcode_arcs]
resolution: 1.0

[exclude_object]

# ------------------------------------------------------------------
# The SAVE_CONFIG block is intentionally NOT in this repo: it holds
# per-machine calibration (bed mesh, input shaper, probe offsets).
# utils/config_sync.py preserves the printer's own SAVE_CONFIG block
# when pushing this file.
# ------------------------------------------------------------------
